.boton{
    background-color: rgb(227, 191, 254);
    align-items: center;
    margin-left: 40px;
    margin-block-end: 50px;
    width: 200px;
    height: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
  }